@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background-color: rgb(221, 217, 217);
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
 color: black;
}
.profile {
  display: flex;
  align-items: center;
}
.profile_pic img {
  height: 30px;
}

.site_title i {
  border: 1px solid #eaeaea;
  padding: 5px 6px;
  border-radius: 50%;
}

.profile_pic {
  width: 35%;
  float: left;
}

.img-circle.profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;
}

.nav_title a{
  color:white;
}
.profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #bab8b8;
}

.profile_info h2 {
  font-size: 14px;
  color: #ecf0f1;
  margin: 0;
  font-weight: 300;
}
/* .nav-md .container.body */

.main_container .col-md-3.left_col {
  min-height: 100%;
  width: 230px;
  padding: 0;
  position: fixed;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  z-index: 1;
}
.left_col {
  background: #2a3f54;
  color: white;
 
}
/* sidebar ends */


/* 
.top_nav .navbar-right {
  margin: 13px;
  width: auto;
  float: right;
} */
/* 
.top_nav .navbar-right li {
  display: inline-block;
  float: right;
  position: static;
} */
.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.login_content {
  margin: 0 auto;
  padding: 25px 20px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 300px;
display: flex;
place-items: center;

}
.login_content input {
  margin:10px;
}
.side-menu{
  width: 100%;
  height: 100%;
  background: #2a3f54;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.side-menu a{
  color: white;
  text-decoration: none;
}
.side-menu li{
  margin-bottom: 10px;;
}
.menu section{
  margin-top: 20px;

}


/* home section */
.home-section{
  background: #f5f5f5;
  position: relative;
  min-height:100vh;
  width: calc(100% - 230px);
  left:230px;
}

.home-section nav{
  height:80px;
  background: #fff;
  padding:0 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size:24px;
  font-weight:500;

}
.home-section nav .sidebar-button i{
  font-size: 35px;
  margin-right:10px;
}
.home-section nav .search-box{
  height:50px;
  width:550px;
  margin: 0 20px;
  position:relative;
}
nav .search-box input{
position:absolute;
height:100%;
width:100%;
border-radius:10px;
padding:0 15px;
font-size:17px;
background: #F5F6FA;
border: 2px solid #EFEEF1;
outline: none;
}
nav .search-box .fa-search{
  position:absolute;
  right: 5px;
  top:50%;
  transform: translate(-50%);
  transform: translateY(-50%);
  height:40px;
  width: 40px;
  background: #2697FF;
  border-radius: 6px;
  color:#fff;
  font-size:22px;
  line-height:40px;
  text-align:center;
}
.home-section nav .profile-details{
  display: flex;
  align-items:center;
  height:50px;
min-width: 190px;
background: #F5F6FA;
border:2px solid #EFEEF1;
border: 6px;
border-radius:0 15px 0 2px;
}
nav .profile-details img{
  height:40px;
  width:40px;
  object-fit: cover;
  border-radius: 6px;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight:500;
  color:#333;
  margin:0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  color: #333;
  font-size: 25px;

}
.home-section .home-content{
  position:relative;
  padding-top:5px;

}
.home-content .overview-boxes{
  display: flex;
  width:100%;
  justify-content: space-around;
  padding: 0 20px;
  flex-wrap:wrap;
}
.home-content .overview-boxes .box{
  width: calc(100%/4 - 15px);
  display:flex;
  align-items:center;
  background: #fff;
  padding:20px;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.home-content .overview-boxes .box_topic{
  font-size:20px;
  font-weight:500;
  
}
.home-content .overview-boxes .number{
  font-size:35px;
  font-weight:500;
  color:#333;
  margin-top: -5px;
  display:inline-block;
}
.overview-boxes .indicator{
  display: flex;
  align-items: center;
}
.overview-boxes .indicator i {
 height:20px;
 width:20px;
 background: #8FDACB;
 color:#fff;
 border-radius:50%;
 font-size: 20px;
 margin-right: 5px;
 text-align:center;
}
.overview-boxes .indicator i.down{
  background: #e87d88;
}

.overview-boxes .indicator .text{
  font-size:15px;
  /* font-weight:500; */
  /* color:#333; */
}
.overview-boxes .box .cart{
  font-size:32px;
  /* font-weight:500; */
  height:50px;
  width:50px;
  background:#cce5ff;
  color:#66b0ff;
  line-height:50px;
  text-align:center;
  border-radius:12px;

}
.overview-boxes .box .cart.two{
  background: #C0F2D8;
  color:#2BD47D;
}
.overview-boxes .box .cart.three{
  color: #FFC233;
  background:#ffe8b3;
}

.overview-boxes .box .cart.four{
  color: #e05260;
  background:#f7d4d7;
}

.home-section .sales-boxes{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.home-section .sales-boxes .sales-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section .sales-boxes .recent-sale{
  width: 65%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  padding: 20px;

  
}

.home-section .sales-boxes .box .title{
  font-size:20px;
  font-weight:500;
  color:#333;
  margin-bottom:10px;
}
.home-section .sales-boxes .box .topic{
  font-size: 20px;
  font-weight: 500;
}
.home-section .sales-boxes .box li{
  list-style: none;
  margin: 8px 0; 
}
.sales-boxes .box li a{
  color:#333;
  font-size:18px;
  font-weight: 400;
}
.sales-boxes .button{
  width:100%;
  
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .button a{
font-size:15px;
font-weight:400;
color:#fff;
background:#0A2558;
padding: 4px 12px;
border-radius: 4px;
text-decoration: none;
transition: all 0.3s ease;
} 
.sales-boxes .button a:hover{
  background: #0d3073;

}
/* right side */
.home-section .sales-boxes .top-sales{
  width:35%;
  margin-left:20px;
  padding:20px;
  background: #fff;
  box-sizing: 0 5px 10px rgba(0,0,0,0.1);
  border-radius: 12px;
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  
}
.sales-boxes .top-sales img{
  height:40px;
  width:40px;
  border-radius: 4px;
  object-fit: cover;
  margin-right: 6px;


}

.submit{
  border: 1px solid black;
  border-radius: 4px;
  margin:1rem;
}



/* Responsive media query */
@media (max-width: 1078px){
  .home-section .sales-boxes{
    flex-direction: column;

  }
  .home-section .sales-boxes .box{
    width:100%;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .home-section .sales-boxes .top-sales{
   margin-left: 0;

  }

}

@media (max-width: 1216px){
  /* .scroll-view{
    width: 20px;
  } */
  .home-section{
    width: calc(100% - 24px);
    left:230px;
  }
  .home-section nav{
  width: calc(100% -240px);
  left:240px;
  }
}
@media(max-width:1018px)
{
  .home-content .overview-boxes .box{
    width: calc(100%/2 - 15px);
    margin-bottom: 20px;
  }
}
@media(max-width:658px){
  .home-section nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    min-width:50px;
    height:50px;
  
  }
  .home-content .overview-boxes .box{
    width: 100%;
   
  }
  .home-section .sales-boxes .sales-details{
    width: 590px;
  }
  
}



