.leaveTable-content {
    border-collapse: collapse;
    border-radius: 12px;
    border-style: hidden;
    box-shadow: 5px 10px rgba(0,0,0,0.1);
    width:99%;
    margin-left: 20px;
    background: #fff;
}
td {
    border: 1px solid #ccc;
}
